{
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "jest/globals": true
  },
  "extends": [
    "eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:@typescript-eslint/recommended-requiring-type-checking",
		"plugin:jest/recommended",
		"plugin:jest/style"
  ],
  "parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": ["./tsconfig.json"]
	},
  "plugins": [
		"@typescript-eslint",
		"jest"
  ],
  "rules": {
    "sort-imports": ["error", {
			"allowSeparatedGroups": true,
			"ignoreCase": true,
			"ignoreMemberSort": false,
			"memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
		}]
  },
	"overrides": [
		{
			"files": ["*.test.ts"],
			"rules": {
        "@typescript-eslint/ban-ts-comment": "off"
      }
		}
	]
}
