@import url('https://fonts.googleapis.com/css?family=Pacifico|Vollkorn:400,600,700'); // sass-lint:disable-line no-url-protocols

@font-face {
	font-family: 'icons';
	font-weight: normal;
	font-style: normal;
	src: url('./font/icons.woff2') format('woff2'),
		url('./font/icons.woff') format('woff');
}

* {
	box-sizing: border-box;

	> *
	&::before,
	&::after {
		box-sizing: inherit;
	}
}

body {
	background: #2F2F2F;
	color: #FFFFFF;
	font-family: 'Vollkorn', serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.3;
	text-align: center;
}

h1 {
	margin: 0 0 1rem;
	font-size: 1.5rem;

	em {
		display: block;
		font-family: 'Pacifico', cursive;
		font-size: 2.5rem;

		span {
			animation: skew 6s infinite;
			display: inline-block;
			color: #E91E63;
		}
	}

	> span {
		display: none;
	}
}

h2 {
	margin: 0 0 1rem;
	font-family: 'Pacifico', cursive;
	font-size: 1.75rem;
}

strong {
	font-weight: 600;
}

button {
	appearance: none;
	cursor: pointer;
	margin: 0;
	padding: 0;
	background: transparent;
	border: 0;
	border-radius: 0;
	color: inherit;
	font: inherit;
}

a {
	color: inherit;
	text-decoration: underline;
}

.code {
	display: block;
	overflow: auto;
	margin: 0 0 2rem;
	padding: 1rem;
	max-width: 70vw;
	background: #2F2F2F;
	background-color: rgba(#2F2F2F, 0.5);
	border: 1px solid rgba(#FFFFFF, 0.5);
	border-radius: 3px;
	color: #FFFFFF;
	font-family: 'Lucida Console', Monaco, 'Courier New', Courier, monospace;
	text-align: left;
}

.container,
.caroucssel {
	height: 100vh;
}

.item {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 1;
	padding: 4rem 3rem 1rem;
	width: 100vw;
	height: 100vh;
}

.arrow {
	transition: transform 0.3s, opacity 0.3s;
	opacity: 0;
	position: absolute;
	z-index: -1;
	width: 20vh;
	height: 20vh;
	fill: #2F2F2F;

	.is-active & {
		opacity: 1;
	}
}

.item-1 { // Intro
	background: transparent;
}

.item-2 { // Scrollbar
	background-image: linear-gradient(to right, transparent, #00BCD4);

	.arrow {
		transform: rotate(-20deg) scale(0.5);
		bottom: 3rem;
		left: 35%;
	}

	&.is-active .arrow {
		transform: rotate(10deg) scale(1);
	}
}

.item-3 { // Buttons
	background-image: linear-gradient(to right, #00BCD4, #E91E63);

	.arrow {
		transform: rotate(-20deg) scale(-0.5);
		top: 50%;
		right: 0;
	}

	&.is-active .arrow {
		transform: rotate(10deg) scale(-1);
	}
}

.item-4 { // Pagination
	background-image: linear-gradient(to right, #E91E63, #CDDC39);

	.arrow {
		transform: translate(-5vh, 0) rotate(120deg) scale(0.5);
		top: 4rem;
		left: 50%;
	}

	&.is-active .arrow {
		transform: translate(-5vh, 0) rotate(140deg) scale(1);
	}
}

.item-5 { // CSS Snap
	background-image: linear-gradient(to right, #CDDC39, #FFFFFF);
	color: #2F2F2F;
}

.item-6 { // Installation
	background-color: #FFFFFF;
	color: #2F2F2F;

	.arrow {
		transform: rotate(-25deg) scale(1);
		bottom: 50%;
		left: 50%;
		fill: #E91E63;
	}

	&.is-active .arrow {
		transform: rotate(-5deg) scale(1);
	}
}

.button {
	transition: opacity 0.3s, text-shadow 0.3s;
	opacity: 1;
	transform: translate(0, -50%);
	position: fixed;
	top: 50%;
	padding: 1.25rem 0;
	width: 2rem;
	color: #2F2F2F;
	font-family: 'icons';
	font-size: 3rem;
	font-weight: 400;
	text-shadow: 0 0 0 rgba(#2F2F2F, 0);

	&:focus {
		outline: none;
		text-shadow: 0 0 12px rgba(#2F2F2F, 0.75);
	}

	&[disabled] {
		opacity: 0;
	}

	span {
		display: none;
	}
}

.is-previous {
	left: 0;

	&::before {
		content: '\e800';
	}
}

.is-next {
	right: 0;
	color: #FFFFFF;

	&::before {
		content: '\e801';
	}
}

.pagination {
	position: fixed;
	top: 2rem;
	right: 2rem;
	left: 2rem;
	text-align: center;

	li {
		display: inline-block;
		margin: 0 0.25rem;
	}

	span {
		transition: opacity 0.3s, bottom 0.3s;
		opacity: 0;
		transform: translate(-50%, 0);
		position: absolute;
		bottom: 0;
		left: 50%;
	}

	button {
		transition: background 0.3s;
		display: block;
		position: relative;
		width: 1rem;
		height: 1rem;
		background: #2F2F2F;
		border-radius: 50%;
		color: #2F2F2F;
		font-family: 'Pacifico', cursive;

		&:hover,
		&:focus {
			background: #FFFFFF;
			outline: none;
		}

		&:hover,
		&[disabled] {
			span {
				opacity: 1;
				bottom: 120%;
			}
		}
	}
}

@keyframes skew {
	0% {
		transform: scale(1) skewX(0);
	}

	5% {
		transform: scale(1.5) skewX(-20deg);
	}

	10% {
		transform: scale(1.5) skewX(-15deg);
	}

	15% {
		transform: scale(1.5) skewX(-25deg);
	}

	20% {
		transform: scale(1) skewX(0);
	}
}
