@import url('https://fonts.googleapis.com/css?family=Pacifico|Vollkorn:400,600,700'); // sass-lint:disable-line no-url-protocols

@font-face {
	font-family: 'icons';
	font-weight: normal;
	font-style: normal;
	src: url('../font/icons.woff2') format('woff2'),
		url('../font/icons.woff') format('woff');
}

* {
	box-sizing: border-box;

	> *
	&::before,
	&::after {
		box-sizing: inherit;
	}
}

body {
	background: #2F2F2F;
	color: #FFFFFF;
	font-family: 'Vollkorn', serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.3;
	text-align: center;
}

strong {
	font-weight: 600;
}

button {
	appearance: none;
	cursor: pointer;
	margin: 0;
	padding: 0;
	background: transparent;
	border: 0;
	border-radius: 0;
	color: inherit;
	font: inherit;
}

h2 {
	margin: 0 0 1rem;
	font-family: 'Vollkorn', cursive;
	font-size: 1.25rem;
}

.example {
	margin-right: auto;
	margin-bottom: 3rem;
	margin-left: auto;
	max-width: 1100px;
}

.container {
	position: relative;
}

.item {
	padding: 2rem 1rem;
	font-family: 'Pacifico', cursive;
	font-size: 1.75rem;

	&:nth-child(3n) {
		background: #CDDC39;
	}

	&:nth-child(3n-1) {
		background: #E91E63;
	}

	&:nth-child(3n-2) {
		background: #00BCD4;
	}
}

.item-label {
	display: block;
	font-family: 'Vollkorn', serif;
	font-size: 1rem;
}

.button {
	transition: opacity 0.3s, text-shadow 0.3s;
	opacity: 1;
	transform: translate(0, -50%);
	position: absolute;
	top: 50%;
	margin: -1.25rem 0 0;
	padding: 1.25rem 0;
	width: 2rem;
	color: #FFFFFF;
	font-family: 'icons';
	font-size: 3rem;
	font-weight: 400;
	text-shadow: 0 0 12px rgba(#2F2F2F, 0.75);

	&:focus {
		outline: none;
	}

	&[disabled] {
		opacity: 0.25;
	}

	span {
		display: none;
	}
}

.is-previous {
	left: 0;

	&::before {
		content: '\e800';
	}
}

.is-next {
	right: 0;

	&::before {
		content: '\e801';
	}
}

.pagination {
	margin-top: 0.5rem;
	text-align: center;

	li {
		display: inline-block;
		margin: 0 0.25rem;
	}

	button {
		transition: background 0.3s, color 0.3s;
		display: block;
		overflow: hidden;
		position: relative;
		width: 1.5rem;
		height: 1.5rem;
		background: #2F2F2F;
		border-radius: 50%;
		color: #FFFFFF;
		font-family: 'Pacifico', cursive;
		line-height: 1.5;

		&:hover,
		&:focus {
			outline: none;
		}

		&[disabled] {
			background: #FFFFFF;
			border-radius: 50%;
			color: #2F2F2F;
		}
	}
}
