@mixin caroucssel() {
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
	overflow: auto;
	overflow-y: hidden;
	transform: translate3d(0, 0, 0);
	width: 100%;
	white-space: nowrap;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-webkit-overflow-scrolling: touch;

	> * {
		display: flex;
		flex: 0 0 auto;
		outline: none;
		white-space: normal;
	}

	&.supports-scrolling {
		&::-webkit-scrollbar,
		&::-webkit-scrollbar-track {
			background: transparent;
		}
	}

	&.not-supports-scrolling {
		overflow: hidden;
	}
}

@mixin caroucssel-snap($at: 100%) {
	// See: https://medium.com/@OneBitAhead/detecting-css-features-with-supports-1fb9c04c56c0
	scroll-behavior: smooth;
	scroll-snap-type: mandatory;
	scroll-snap-destination: $at $at;
	scroll-snap-points-x: snapInterval(0, $at); // sass-lint:disable-line function-name-format
	scroll-snap-points-x: repeat($at); // sass-lint:disable-line no-duplicate-properties

	> * {
		scroll-snap-align: start;
	}
}


%caroucssel {
	@include caroucssel();
}
