@import url('https://fonts.googleapis.com/css?family=Pacifico|Vollkorn:400,600,700');

@font-face {
	font-weight: normal;
	font-family: icons;
	font-style: normal;
	src:
		url('./font/icons.woff2') format('woff2'),
		url('./font/icons.woff') format('woff');
}

* {
	box-sizing: border-box;

	*,
	&::before,
	&::after {
		box-sizing: inherit;
	}
}

body {
	overflow: hidden;
	color: #FFFFFF;
	font-weight: 400;
	font-size: 16px;
	font-family: Vollkorn, serif;
	line-height: 1.3;
	text-align: center;
	background: #2F2F2F;
}

strong {
	font-weight: 600;
}

h1 {
	margin: 0 0 1rem;
	font-size: 1.5rem;

	> span {
		display: none;
	}

	em {
		position: relative;
		display: inline-block;
		font-size: 2.5rem;
		font-family: Pacifico, cursive;

		span {
			display: inline-block;
			color: #E91E63;
			animation: skew 6s infinite;
		}
	}

	sup {
		position: absolute;
		top: -1em;
		right: -3em;
		font-size: 0.8rem;
	}

	strong {
		display: block;
		font-weight: inherit;
	}
}

h2 {
	margin: 0 0 1rem;
	font-size: 1.75rem;
	font-family: Pacifico, cursive;
}

p {
	max-width: 70vw;
	margin: 0 0 1rem;
}

button {
	margin: 0;
	padding: 0;
	color: inherit;
	font: inherit;
	background: transparent;
	border: 0;
	border-radius: 0;
	cursor: pointer;
	appearance: none;
}

a {
	color: inherit;
	text-decoration: underline;
}

.code {
	display: block;
	max-width: 70vw;
	margin: 0 0 2rem;
	padding: 1rem;
	overflow: auto;
	color: #FFFFFF;
	font-family: 'Lucida Console', Monaco, 'Courier New', Courier, monospace;
	text-align: left;
	background: #2F2F2F;
	background-color: rgba(#2F2F2F, 0.5);
	border: 1px solid rgba(#FFFFFF, 0.5);
	border-radius: 3px;
}

.caroucssel {
	height: 100vh;
}

.item {
	position: relative;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	padding: 4rem 3rem 1rem;

	p {
		max-width: 540px;
		margin-right: auto;
		margin-left: auto;
	}
}

.arrow {
	position: absolute;
	z-index: -1;
	width: 20vh;
	height: 20vh;
	opacity: 0;
	transition: transform 0.3s, opacity 0.3s;
	fill: #2F2F2F;

	.is-active & {
		opacity: 1;
	}
}

.item-1 { // Intro
	background: transparent;
}

.item-2 { // Scrollbar
	background-image: linear-gradient(to right, transparent, #00BCD4);

	.arrow {
		bottom: 3rem;
		left: 35%;
		transform: rotate(-20deg) scale(0.5);
		fill: #FFFFFF;

		@at-root .is-active#{&} {
			transform: rotate(10deg) scale(1);
		}
	}
}

.item-3 { // Buttons
	background-image: linear-gradient(to right, #00BCD4, #E91E63);

	.arrow {
		top: 50%;
		right: 0;
		transform: rotate(-20deg) scale(-0.5);
		fill: #FFFFFF;

		@at-root .is-active#{&} {
			transform: rotate(10deg) scale(-1);
		}
	}
}

.item-4 { // Pagination
	background-image: linear-gradient(to right, #E91E63, #CDDC39);

	.arrow {
		top: 4rem;
		left: 50%;
		transform: translate(-5vh, 0) rotate(120deg) scale(0.5);
		fill: #FFFFFF;

		@at-root .is-active#{&} {
			transform: translate(-5vh, 0) rotate(140deg) scale(1);
		}
	}
}

.item-5 { // CSS Snap
	background-image: linear-gradient(to right, #CDDC39, #00BCD4);
}

.item-6 { // Features / Extensibility
	background-image: linear-gradient(to right, #00BCD4, #E91E63);
}

.item-7 { // Installation
	color: #2F2F2F;
	background-image: linear-gradient(to right, #E91E63, #FFFFFF, #FFFFFF);

	.arrow {
		bottom: 55%;
		left: 54%;
		transform: rotate(-25deg) scale(1);
		fill: #E91E63;

		@at-root .is-active#{&} {
			transform: rotate(-5deg) scale(1);
		}
	}
}

.button {
	position: fixed;
	top: 50%;
	width: 2rem;
	padding: 1.25rem 0;
	color: #2F2F2F;
	font-weight: 400;
	font-size: 3rem;
	font-family: icons; // stylelint-disable-line font-family-no-missing-generic-family-keyword
	text-shadow: 0 0 0 rgba(#2F2F2F, 0);
	transform: translate(0, -50%);
	opacity: 1;
	transition: opacity 0.3s, text-shadow 0.3s;

	&:focus {
		text-shadow: 0 0 12px rgba(#2F2F2F, 0.75);
		outline: none;
	}

	&[disabled] {
		opacity: 0;
	}

	span {
		display: none;
	}
}

.is-previous {
	left: 0;

	&::before {
		content: '\e800';
	}
}

.is-next {
	right: 0;
	color: #FFFFFF;

	&::before {
		content: '\e801';
	}
}

.pagination {
	position: fixed;
	top: 2rem;
	right: 2rem;
	left: 2rem;
	text-align: center;

	li {
		display: inline-block;
		margin: 0 0.25rem;
	}

	span {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0);
		opacity: 0;
		transition: opacity 0.3s, bottom 0.3s;
	}

	button {
		position: relative;
		display: block;
		width: 1rem;
		height: 1rem;
		color: #2F2F2F;
		font-family: Pacifico, cursive;
		background: #2F2F2F;
		border-radius: 50%;
		transition: background 0.3s;

		&:hover,
		&:focus {
			background: #FFFFFF;
			outline: none;
		}

		&:hover,
		&[disabled] { // stylelint-disable-line selector-no-qualifying-type
			span {
				bottom: 120%;
				opacity: 1;
			}
		}
	}
}

@keyframes skew {
	0% {
		transform: scale(1) skewX(0);
	}

	5% {
		transform: scale(1.5) skewX(-20deg);
	}

	10% {
		transform: scale(1.5) skewX(-15deg);
	}

	15% {
		transform: scale(1.5) skewX(-25deg);
	}

	20% {
		transform: scale(1) skewX(0);
	}
}
